
<img src='../assets/images/car-2.jpg' height="500px" width="700px">
<ul>

    <li>
        Upto 70% Off on Premium
        Maximize your savings with discounts that may sound unbelievable.</li><br>

    <li>
        7100+ cashless garages
        No matter where you are our wide network of cashless garages are at your service.</li><br>

    <li>
        Overnight repair service
        It is just a matter of dusk to dawn and your car will be back in shape ready for use.</li><br>

    <li>
        Premium starting at Just ₹2072
        Easy on your pocket with all rounded coverage! Need we say more?</li><br>

</ul>