<div class="carousel col-md-6" id="sec1">
    <img src="../assets/images/insur.jpg">
  </div>
<br>
<h1> Benefits of buying our Insurance </h1>
<ul>
    <li>Third-party car insurance is mandatory
        As per the Motor Vehicles Act of India, it is compulsory for all vehicles running on the road to be insured. As
        a
        car owner, you must have third party liability coverage. </li><br>
    <li>Saves you from traffic fine
        As per the new Motor Vehicle Act 2019, you can get a traffic fine of ₹2000 for driving without car insurance. If
        you get
        caught for a second time, the penalty would be ₹4000.</li><br>

    <li>Provides personal accident coverage for owner driver
        Our car insurance policy provides ₹15 lakh coverage for injuries to the registered owner driver while travelling
        in the
        car, or getting in or off the car.</li><br>
    <li>Gives easy access to cashless garages
        We have a network of 4300+ cashless garages that take care of your car post damage. We pay for the repairs as
        per the
        claim and settle the dues directly with the garage.</li><br>

    <li>Covers damages to the car
        Our car insurance policy covers any damages to your car due to accidents or natural calamities and takes care of
        the
        repair costs.</li><br>

    <li>Covers your car against theft
        In case your car is stolen and cannot be recovered, we pay for your loss.</li><br>

</ul>