.img1{
    width:750px;
    float:right;
    height:300px;
    margin-bottom:5px;
}
.img2{
    width:750px;
    float:left;
    height:300px;
    margin-bottom:20px;
}
.about{
    text-align:justify;
    color:blueviolet;
    font-weight:bold;
    padding-bottom: 5px;
    margin:5px;
}
h2{
    text-align: center;
    color:orange;
    font-weight: bold;
}