<div class="divmain">
    <h2>Forgot Password</h2>
    <form #loginForm=ngForm>
       <label for="uname">UserEmail</label>
        <input type="text" [(ngModel)]="useremail" #un="ngModel" placeholder="Enter userEmail" required minlength="4" name="uemail" autocomplete="off">
        <div *ngIf="un.invalid && (un.dirty||un.touched)" style="color:black;font-weight: bold;">
            <div *ngIf="un.errors?.required">*Email is required</div>
            <div *ngIf="un.errors?.minlength">*Email must contain min.4 letters</div>
        </div><br>
        <label for="upass">New Password</label>
        <input type="password" [(ngModel)]="password" #up="ngModel" placeholder="Enter password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"  name="upass">
        <div *ngIf="up.invalid && (up.dirty||up.touched)" style="color:black;font-weight: bold;">
        <div *ngIf="up.errors?.required">*Password is required</div>
        <div *ngIf="up.errors?.pattern">*password is invalid</div>
        </div><br>
        <button (click)="update()">Change Password</button>
</form>
</div>